<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="javascripts/index.js"></script>
<div class="links">
  <a href="https://www.linkedin.com/in/chris-spanos-b62382105" target="_blank"><img src="/images/linkedin.png" class="linkImg"></a>
  <a href="CSResume.pdf" target="_blank"><img src="/images/resume.png" class="linkImg"></a>
</div>
<div class="container">
  <div class="transforming transformingFull">

  </div>
  <div class="scrollContainer section1">
    <p class="scrollText scrollTextInvis">Scroll</p>
    <img src="/images/scrollicon.png" id="scroll1" class="scrollIcon scrollIconInvis"/>
    <img src="/images/scrollicon.png" id="scroll2" class="scrollIcon scrollIconInvis"/>
    <img src="/images/scrollicon.png" id="scroll3" class="scrollIcon scrollIconInvis"/>
    <img src="/images/scrollicon.png" id="scroll4" class="scrollIcon scrollIconInvis"/>
  </div>
  <div class="landingContent">
    <div class="title landingTitle section1">
      <p>Chris</p>
      <p>Spanos</p>
    </div>
    <div class="title landingSub section1">
      <p>Web and mobile developer</p>
    </div>
  </div>
  <div class="aboutContent">
    <div class="aboutDesc">
      <p class="title aboutDescTitle section2 section2Down">Hello</p>
      <p class="aboutDescBody section2 section2Down">
        I'm a web and mobile developer from New Jersey.  If you're a business looking to create a web presence or an app, or an employer looking to hire a new member of the team, you can find my resume <a id="resumeLink" href="CSResume.pdf" target="_blank">here</a>.
      </p>
      <p class="aboutDescBody section2 section2Down">
        I'm a developer at heart and am always looking to take on new and challenging projects while also showing my creativity and passion.  I've served as the CTO of my own startup web development company since 2016 with two partners.  We primarily served small businesses looking to create their online presence with a full suite of services, from web and mobile app design and development, to branding and SEO.
      </p>
      <p class="aboutDescBody section2 section2Down">
        Scroll down to see some of the work I've done with this company.
      </p>
    </div>
    <div class="aboutSkills">
      <p class="aboutDescTitle section2 section2Down">My Skillset</p>
      <p class="aboutDescBody section2 section2Down">HTML</p>
      <p class="aboutDescBody section2 section2Down">CSS</p>
      <p class="aboutDescBody section2 section2Down">Node.js</p>
      <p class="aboutDescBody section2 section2Down">React</p>
      <p class="aboutDescBody section2 section2Down">React Native</p>
      <p class="aboutDescBody section2 section2Down">Redux</p>
      <p class="aboutDescBody section2 section2Down">MongoDB</p>
      <p class="aboutDescBody section2 section2Down">SQL</p>
      <p class="aboutDescBody section2 section2Down">Jest</p>
      <p class="aboutDescBody section2 section2Down">Git</p>
    </div>
  </div>
  <div class="portfolioContent">
    <div class="portfolioTitleContainer">
      <p class="portfolioTitle section3 section3Down">My work</p>
    </div>
    <div class="portfolioContentContainer">
      <div class="portfolioRow">
        <div id="port1" class="portfolioItem section3 section3Down">
          <div class="portfolioOverlay">
            <p class="title portfolioItemTitle">Backlender</p>
            <p class="portfolioItemDesc">Responsive web app for Backlender, a home cleaner in northern New Jersey.</p>
            <a id="backlenderButton" href="https://www.backlender.com" target="_blank" class="portfolioButton">Go to website</a>
          </div>
        </div>
        <div id="port2" class="portfolioItem section3 section3Down">
          <div class="portfolioOverlay">
            <p class="title portfolioItemTitle">Remax Princeton</p>
            <p class="portfolioItemDesc">Responsive web app for Remax of Princeton, NJ.  Includes a home search page using IDX Broker's API.</p>
            <a id="remaxButton" href="https://www.remaxprinceton.com" target="_blank" class="portfolioButton">Go to website</a>
          </div>
        </div>
        <div id="port3" class="portfolioItem section3 section3Down">
          <div class="portfolioOverlay">
            <p class="title portfolioItemTitle">HarassmentLaw</p>
            <p class="portfolioItemDesc">Cross-platform mobile app for Android and iOS.  Allows users to quickly and easily contact a harassment lawyer.</p>
            <a id="harassmentButton" href="https://www.harassmentlaw.com" target="_blank" class="portfolioButton">Go to website</a>
          </div>
        </div>
      </div>
      <div class="portfolioRow">
        <div id="port4" class="portfolioItem section3 section3Down">
          <div class="portfolioOverlay">
            <p class="title portfolioItemTitle">Stunited</p>
            <p class="portfolioItemDesc">Cross-platform mobile app for Android and iOS.  Connects students based on their strengths and needs to help each other with assignments.</p>
            <a id="stunitedButton" href="https://www.stunitedapp.com" target="_blank" class="portfolioButton">Go to website</a>
          </div>
        </div>
        <div id="port5" class="portfolioItem section3 section3Down">
          <div class="portfolioOverlay">
            <p class="title portfolioItemTitle">OradaTech</p>
            <p class="portfolioItemDesc">Responsive website for OradaTech, a phone and computer repair store in Hazlet, NJ.</p>
            <a id="oradaButton" href="https://www.oradatech.com" target="_blank" class="portfolioButton">Go to website</a>
          </div>
        </div>
        <div id="port6" class="portfolioItem section3 section3Down">
          <div class="portfolioOverlay">
            <p class="title portfolioItemTitle">Town Beverage</p>
            <p class="portfolioItemDesc">Cross-platform ecommerce mobile app for Android and iOS for Town Beverage, a liquor store located in North Bergen, NJ.</p>
            <a id="townButton" href="https://www.townbev.com" target="_blank" class="portfolioButton">Go to website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contactContent">
    <div class="contactTitleContainer">
      <p class="title contactTitle section4 section4Down">Get in touch</p>
    </div>
    <form method="post" class="contactFormContainer">
      <input id="formName" name="name" placeholder="Name" class="contactInput section4 section4Down"/>
      <input id="formEmail" name="email" placeholder="Email" class="contactInput section4 section4Down"/>
      <textarea id="formMessage" name="message" placeholder="Message" rows="7" class="contactInput section4 section4Down"></textarea>
      <p id="responseMessage" class="section4 section4Down"></p>
      <button type="submit" class="contactSubmit section4 section4Down">Submit</button>
    </div>
  </div>
</div>