body {
  margin: 0px;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  overflow: hidden;
}

input, textarea {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000000;
}

.title {
  font-weight: 800;
}

.links {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 10px;
}

.linkImg {
  height: 25px;
  width: 25px;
  margin: 10px;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.transforming {
  position: absolute;
  margin: 4.5vh 2.5%;
  height: 91vh;
  width: 95%;
  display: flex;
  background: #CB2526;
  background: linear-gradient(200deg, rgba(203,37,38,1) 0%, rgba(246,85,86,1) 100%);
  z-index: -2;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1);
}

.transformingFull {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.transforming1 {
  transition: all 1.2s cubic-bezier(0.19, 1, 0.21, 1);
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}

.transforming2 {
  transition: all 1.2s cubic-bezier(0.19, 1, 0.21, 1);
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%);
}

.transforming3 {
  transition: all 1.2s cubic-bezier(0.19, 1, 0.21, 1);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
}

.transforming4 {
  transition: all 1.2s cubic-bezier(0.19, 1, 0.21, 1);
  clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0% 100%);
}

.landingContent {
  margin: 4.5vh 2.5%;
  height: 91vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.landingTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 10em;
  text-shadow: 0px 0px 0px #CB2526;
  opacity: 0;
  transform: translateY(20px);
}

.landingTitleAnimated {
  opacity: 1;
  transform: translateY(0px);
  text-shadow: 4px 4px 0px #CB2526;
}

.landingSub {
  margin-top: 20px;
  width: 545px;
  text-align: left;
  font-size: 1.2em;
  opacity: 0;
  transform: translateY(10px);
}

.landingSubAnimated {
  opacity: 1;
  transform: translateY(0px);
}

.landingTitle>p {
  margin: 0px;
  line-height: 130px;
  text-align: left;
}

.scrollContainer {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: 48%;
  top: 88vh;
}

.scrollIcon {
  height: 20px; 
  width: auto;
  margin: -5px 0px;
  transition: all 0.2s linear;
}

.scrollIconInvis {
  opacity: 0;
}

.scrollText {
  opacity: 1;
  transition: all 0.3s linear;
  transform: rotate(90deg);
}

.scrollTextInvis {
  opacity: 0;
}

.aboutContent {
  margin: 4.5vh 2.5%;
  height: 91vh;
  width: 95%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.aboutDesc {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: calc(70% - 40px);
}

.aboutDescTitle {
  font-size: 4em;
  margin: 0px;
  text-shadow: 2px 2px 0px #CB2526;
}

.aboutDescBody {
  width: 92%;
  font-size: 1.1em;
}

.aboutSkills {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: calc(30% - 40px);
}

.resumeLink {
  color: #CB2526;
}

.portfolioContent {
  margin: 4.5vh 2.5%;
  height: 91vh;
  width: 95%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.portfolioTitleContainer {
  height: 25%;
  padding: 0px 20px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.portfolioTitle {
  margin: 0px;
  text-shadow: 2px 2px 0px #CB2526;
  font-size: 4em;
}

.portfolioContentContainer {
  padding: 0px 50px;
  width: calc(100% - 100px);
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolioRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}

.portfolioItem {
  height: 90%;
  width: 30%;
  background-size: cover;
  overflow: hidden;
  background-position: 50% 0%;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
}

#port1 {
  background-image: url(/images/portfolio/backlender.png);
}

#port2 {
  background-image: url(/images/portfolio/remax.png);
}

#port3 {
  background-image: url(/images/portfolio/harassment2.png);
}

#port4 {
  background-image: url(/images/portfolio/stunited.png);
}

#port5 {
  background-image: url(/images/portfolio/orada.png);
}

#port6 {
  background-image: url(/images/portfolio/townbev1.png);
}

.portfolioOverlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1);
}

.portfolioOverlay:hover {
  background-color: rgba(255,255,255,0.75);
}

.portfolioOverlay:hover>.portfolioItemTitle {
  transform: translateY(-130%);
}

.portfolioOverlay:hover>.portfolioItemDesc {
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1) 0.3s;
}

.portfolioOverlay:hover>.portfolioButton {
  opacity: 1;
  transform: translateY(200%);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1) 0.6s;
}

.portfolioItemTitle {
  font-size: 2.5em;
  text-shadow: 2px 2px 0px #CB2526;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1);
}

.portfolioItemDesc {
  margin: 0px;
  position: absolute;
  width: 80%;
  opacity: 0;
  transform: translateY(110%);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1);
}

.portfolioButton {
  margin: 0px;
  padding: 5px 20px;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  border-radius: 20px;
  position: absolute;
  transform: translateY(300%);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1);
}

#backlenderButton:hover,
#remaxButton:hover,
#harassmentButton:hover,
#stunitedButton:hover,
#oradaButton:hover,
#townButton:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1);
}

.contactContent {
  margin: 4.5vh 2.5%;
  height: 91vh;
  width: 95%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.contactTitleContainer {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.contactTitle {
  font-size: 4em;
  text-shadow: 2px 2px 0px #CB2526;
  margin: 0px;
}

.contactFormContainer {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactInput {
  width: 40%;
  padding: 10px 0px;
  background-color: transparent;
  border: none;
  border-bottom-width: 3px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
  font-size: 1.2em;
  margin: 20px 0px;
  resize: none;
}

.contactSubmit {
  background-color: transparent;
  border-width: 3px;
  border-color: #000000;
  border-style: solid;
  border-radius: 25px;
  padding: 10px 50px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.21, 1);
}

.contactSubmit:hover {
  background-color: #000000;
  color: #ffffff;
}

#responseMessage {
  color: #ffffff;
  height: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2b2b2b;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #2b2b2b;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #2b2b2b;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/*SECTION ANIMATIONS*/

.section1, .section2, .section3, .section4 {
  transition: all 1.2s cubic-bezier(0.19, 1, 0.21, 1);
}

.section1Up, .section2Up, .section4Up {
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1);
  transform: translateY(-250px);
  opacity: 0;
}

.section3Up {
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1);
  transform: translateX(-250px);
  opacity: 0;
}

.sectionDown, .section2Down, .section4Down {
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1);
  transform: translateY(250px);
  opacity: 0;
}

.section3Down {
  transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1);
  transform: translateX(250px);
  opacity: 0;
}

@media only screen and (max-width: 1400px) {
  .scrollContainer {
    right: 47%;
    top: 84vh;
  }

  .linkImg {
    height: 22px;
    width: 22px;
    margin: 7px;
  }

  .landingTitle {
    font-size: 8em;
  }

  .landingSub {
    margin-top: 8px;
    width: 434px;
    font-size: 1.0em;
  }

  .aboutDescTitle {
    font-size: 3em;
  }

  .aboutDescBody {
    margin: 10px 0px;
  }

  .portfolioContentContainer {
    width: calc(100% - 70px);
  }

  .portfolioTitle {
    font-size: 3em;
  }

  .portfolioItem {
    height: 90%;
  }

  .portfolioItemTitle {
    font-size: 2em;
  }

  .portfolioItemDesc {
    line-height: 18px;
  }

  .contactTitle {
    font-size: 3em;
  }

  .contactInput {
    font-size: 1em;
    margin: 10px 0px;
  }
}

@media only screen and (max-width: 1200px) {
  .portfolioItemTitle {
    font-size: 1.6em;
  }

  .portfolioOverlay:hover>.portfolioItemTitle {
    transform: translateY(-150%);
  }

  .portfolioOverlay:hover>.portfolioButton {
    transform: translateY(180%);
  }
}

@media only screen and (max-width: 1000px) {
  .transforming1 {
    transition: all 1.2s cubic-bezier(0.19, 1, 0.21, 1);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 70%);
  }

  .transforming2 {
    transition: all 1.2s cubic-bezier(0.19, 1, 0.21, 1);
    clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
  }

  .transforming3 {
    transition: all 1.2s cubic-bezier(0.19, 1, 0.21, 1);
    clip-path: polygon(0 0, 60% 0, 60% 100%, 0% 100%);
  }

  .transforming4 {
    transition: all 1.2s cubic-bezier(0.19, 1, 0.21, 1);
    clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0% 100%);
  }

  .landingTitle {
    font-size: 4em;
  }

  .landingTitle>p {
    line-height: 60px;
  }

  .landingSub {
    width: 220px;
  }

  .scrollContainer {
    flex-direction: column-reverse;
    right: 45%;
    top: 74vh;
  }

  .scrollText {
    transform: rotate(-90deg);
  }

  .scrollIcon {
    transform: rotate(180deg);
  }

  .aboutContent {
    flex-direction: column;
  }

  .aboutDesc {
    display: flex;
    justify-content: center;
    height: 70%;
    width: 90%;
  }

  .aboutDescTitle {
    font-size: 1.4em;
    width: 30%;
  }

  .aboutDescBody {
    width: 100%;
    font-size: 0.8em;
    line-height: 15px;
    margin: 6px 0px;
  }

  .aboutSkills {
    height: 30%;
    width: 90%;
    flex-direction: row;
  }

  .aboutSkillList {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .portfolioTitleContainer {
    height: auto;
  }

  .portfolioTitle {
    font-size: 2em;
  }

  .portfolioContentContainer {
    padding: 0px 20px;
    height: 85%;
  }

  .portfolioRow {
    flex-direction: column;
    justify-content: space-around;
  }

  .portfolioItem {
    height: 30%;
    width: 100%;
  }

  .portfolioItemTitle {
    font-size: 1.3em;
  }

  .portfolioItemDesc {
    font-size: 0.8em;
    line-height: 12px;
  }

  .portfolioOverlay:hover>.portfolioItemTitle {
    transform: translateY(-300%);
  }

  .portfolioOverlay:hover>.portfolioItemDesc {
    opacity: 1;
    transform: translateY(0%);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1) 0.3s;
  }

  .portfolioOverlay:hover>.portfolioButton {
    opacity: 1;
    transform: translateY(300%);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.21, 1) 0.6s;
  }

  .contactTitle {
    font-size: 1.8em;
  }

  .contactInput {
    width: 70%;
  }

  .contactSubmit {
    padding: 10px 30px;
    font-size: 1em;
  }

  .contactTitleContainer {
    height: 15%;
    align-items: center;
  }

  .contactFormContainer {
    height: 70%;
  }
}